@font-face{
  font-family: "Halloween Too";
  src: url("https://www.dafont.com/fr/halloween-too.font");
}

.loginForm {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.gagnant {
  font-weight: bold;
}
.formulaire {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  min-height: 100vh;

}
.form{
  background-color: rgba(250, 250, 250, 0.2);
  border-radius : 5%;
  height: 200px;
  width: 300px;
  align-content: center;
}
.form2{
  justify-content: center;
}
.field{
  width:250px;
  justify-content: center;
}
.homePage {
  background-image: url("./images/backgroundhalo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.na{
  background-color: rgba(250, 3, 3, 0.2);
  font-family: "Halloween Too";
  font-size: 2em;
  color:white;
}

.button{
  font-family: "Halloween Too";
  color:red;
}
.navbid{
  font-weight: bold;
}